<h1>Bookings</h1>
<section class="ui raised segment">
    <table class="inverted blue ui five column table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Trainer</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each user.bookings}}
                <tr>
                    <td> {{date}} </td>
                    <td> {{time}} </td>
                    <td> {{firstName}} {{lastName}} </td>
                    <td> <a href="/bookings/{{trainerId}}/memberUpdateBooking/{{bookingId}}" class="ui icon button"><i class="edit icon"></i></a></td>
                    <td> <a href="/bookings/{{trainerId}}/memberDeleteBooking/{{bookingId}}" class="ui icon button"><i class="trash icon"></i></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>